In [1]:
import pandas as pd
df = pd.read_csv("tweets.csv")

In [2]:
df

,id,conversation_id,created_at,date,time,timezone,user_id,username,name,place,...,geo,source,user_rt_id,user_rt,retweet_id,reply_to,retweet_date,translate,trans_src,trans_dest
0,1245499506206048258,1245499506206048258,1585785197000,2020-04-02,02:53:17,Arabic Standard Time,999923155408896001,remote_dev_jobs,Remote Developer Jobs,NaN,...,NaN,NaN,NaN,NaN,NaN,"[{'user_id': '999923155408896001', 'username':...",NaN,NaN,NaN,NaN
1,1245497179269033984,1245497179269033984,1585784642000,2020-04-02,02:44:02,Arabic Standard Time,1710780386,ttengineer1,TTEngineer1,NaN,...,NaN,NaN,NaN,NaN,NaN,"[{'user_id': '1710780386', 'username': 'TTEngi...",NaN,NaN,NaN,NaN
2,1245495307011600384,1245429688996151296,1585784196000,2020-04-02,02:36:36,Arabic Standard Time,1197678150458712064,2020_oklahoma,üåπüçû quarantine band time üåàüíûüíû‚ò≠‚í∂üéºüëΩ,NaN,...,NaN,NaN,NaN,NaN,NaN,"[{'user_id': '1197678150458712064', 'username'...",NaN,NaN,NaN,NaN
3,1245494563478749184,1245494563478749184,1585784018000,2020-04-02,02:33:38,Arabic Standard Time,63972462,postjobfree,Post Job Free,NaN,...,NaN,NaN,NaN,NaN,NaN,"[{'user_id': '63972462', 'username': 'postjobf...",NaN,NaN,NaN,NaN
4,1245493979992522756,1245493979992522756,1585783879000,2020-04-02,02:31:19,Arabic Standard Time,1070141555351027713,remotepeople,Remote Jobs,NaN,...,NaN,NaN,NaN,NaN,NaN,"[{'user_id': '1070141555351027713', 'username'...",NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9982,1246228416300490755,1246224852706615297,1585958982000,2020-04-04,03:09:42,Arabic Standard Time,1112429970113077248,blacktechguru,Quarantine & Chill,NaN,...,NaN,NaN,NaN,NaN,NaN,"[{'user_id': '1112429970113077248', 'username'...",NaN,NaN,NaN,NaN
9983,1246227710466297856,1246222234248757248,1585958814000,2020-04-04,03:06:54,Arabic Standard Time,4876542393,volengineer11,Behind Enemy Hedges,NaN,...,NaN,NaN,NaN,NaN,NaN,"[{'user_id': '4876542393', 'username': 'VolEng...",NaN,NaN,NaN,NaN
9984,1246227676035256321,1246227676035256321,1585958806000,2020-04-04,03:06:46,Arabic Standard Time,137443151,jobhookup4u,Kirsten Barr,NaN,...,NaN,NaN,NaN,NaN,NaN,"[{'user_id': '137443151', 'username': 'JobHook...",NaN,NaN,NaN,NaN
9985,1246226734317555715,1246226734317555715,1585958581000,2020-04-04,03:03:01,Arabic Standard Time,2352444481,golangprojects,golangprojects,NaN,...,NaN,NaN,NaN,NaN,NaN,"[{'user_id': '2352444481', 'username': 'golang...",NaN,NaN,NaN,NaN
9986,1246225978793381888,1246225978793381888,1585958401000,2020-04-04,03:00:01,Arabic Standard Time,14252897,martinwoodward,Martin Woodward,NaN,...,NaN,NaN,NaN,NaN,NaN,"[{'user_id': '14252897', 'username': 'martinwo...",NaN,NaN,NaN,NaN

In [3]:
df.drop_duplicates()

,id,conversation_id,created_at,date,time,timezone,user_id,username,name,place,...,geo,source,user_rt_id,user_rt,retweet_id,reply_to,retweet_date,translate,trans_src,trans_dest
0,1245499506206048258,1245499506206048258,1585785197000,2020-04-02,02:53:17,Arabic Standard Time,999923155408896001,remote_dev_jobs,Remote Developer Jobs,NaN,...,NaN,NaN,NaN,NaN,NaN,"[{'user_id': '999923155408896001', 'username':...",NaN,NaN,NaN,NaN
1,1245497179269033984,1245497179269033984,1585784642000,2020-04-02,02:44:02,Arabic Standard Time,1710780386,ttengineer1,TTEngineer1,NaN,...,NaN,NaN,NaN,NaN,NaN,"[{'user_id': '1710780386', 'username': 'TTEngi...",NaN,NaN,NaN,NaN
2,1245495307011600384,1245429688996151296,1585784196000,2020-04-02,02:36:36,Arabic Standard Time,1197678150458712064,2020_oklahoma,üåπüçû quarantine band time üåàüíûüíû‚ò≠‚í∂üéºüëΩ,NaN,...,NaN,NaN,NaN,NaN,NaN,"[{'user_id': '1197678150458712064', 'username'...",NaN,NaN,NaN,NaN
3,1245494563478749184,1245494563478749184,1585784018000,2020-04-02,02:33:38,Arabic Standard Time,63972462,postjobfree,Post Job Free,NaN,...,NaN,NaN,NaN,NaN,NaN,"[{'user_id': '63972462', 'username': 'postjobf...",NaN,NaN,NaN,NaN
4,1245493979992522756,1245493979992522756,1585783879000,2020-04-02,02:31:19,Arabic Standard Time,1070141555351027713,remotepeople,Remote Jobs,NaN,...,NaN,NaN,NaN,NaN,NaN,"[{'user_id': '1070141555351027713', 'username'...",NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8621,1246268074078154753,1246268074078154753,1585968438000,2020-04-04,05:47:18,Arabic Standard Time,1007109797483876352,remoteboxio,RemoteBox,NaN,...,NaN,NaN,NaN,NaN,NaN,"[{'user_id': '1007109797483876352', 'username'...",NaN,NaN,NaN,NaN
8639,1246230116474249217,1246230116474249217,1585959388000,2020-04-04,03:16:28,Arabic Standard Time,1125258624853352449,noknow80094321,noknow@nomad in Cyprusüá®üáæ,NaN,...,NaN,NaN,NaN,NaN,NaN,"[{'user_id': '1125258624853352449', 'username'...",NaN,NaN,NaN,NaN
8646,1246225978793381888,1246225978793381888,1585958401000,2020-04-04,03:00:01,Arabic Standard Time,14252897,martinwoodward,Martin Woodward,NaN,...,NaN,NaN,NaN,NaN,NaN,"[{'user_id': '14252897', 'username': 'martinwo...",NaN,NaN,NaN,NaN
8663,1247852440990420993,1247852440990420993,1586346180000,2020-04-08,14:43:00,Arabic Standard Time,2872751,eminetto,eltonminetto.dev,NaN,...,NaN,NaN,NaN,NaN,NaN,"[{'user_id': '2872751', 'username': 'eminetto'...",NaN,NaN,NaN,NaN
9005,1247553866931089408,1247553866931089408,1586274994000,2020-04-07,18:56:34,Arabic Standard Time,129537034,jameybash,jamey wilde,NaN,...,NaN,NaN,NaN,NaN,NaN,"[{'user_id': '129537034', 'username': 'jameyba...",NaN,NaN,NaN,NaN

In [4]:
data.sort_values()

NameError: name 'data' is not defined

In [5]:
df.sort_values()

TypeError: sort_values() missing 1 required positional argument: 'by'

In [6]:
data.sort_values(by=data, ascending=True)

NameError: name 'data' is not defined

In [7]:
df.sort_values(by=date, ascending=True)

NameError: name 'date' is not defined

In [10]:
df.sort_values(by="date", ascending=True)

,id,conversation_id,created_at,date,time,timezone,user_id,username,name,place,...,geo,source,user_rt_id,user_rt,retweet_id,reply_to,retweet_date,translate,trans_src,trans_dest
621,1244874274495586305,1244874274495586305,1585636130000,2020-03-31,09:28:50,Arabic Standard Time,1892605098,raghibhuda,Ragib Huda,NaN,...,NaN,NaN,NaN,NaN,NaN,"[{'user_id': '1892605098', 'username': 'Raghib...",NaN,NaN,NaN,NaN
471,1245037144470482944,1245037144470482944,1585674961000,2020-03-31,20:16:01,Arabic Standard Time,2938471462,remoteok,Remote OK¬Æ,NaN,...,NaN,NaN,NaN,NaN,NaN,"[{'user_id': '2938471462', 'username': 'Remote...",NaN,NaN,NaN,NaN
470,1245037145397460993,1245037145397460993,1585674961000,2020-03-31,20:16:01,Arabic Standard Time,2938471462,remoteok,Remote OK¬Æ,NaN,...,NaN,NaN,NaN,NaN,NaN,"[{'user_id': '2938471462', 'username': 'Remote...",NaN,NaN,NaN,NaN
469,1245038973115723777,1245038973115723777,1585675397000,2020-03-31,20:23:17,Arabic Standard Time,999923155408896001,remote_dev_jobs,Remote Developer Jobs,NaN,...,NaN,NaN,NaN,NaN,NaN,"[{'user_id': '999923155408896001', 'username':...",NaN,NaN,NaN,NaN
468,1245041019512664064,1245041019512664064,1585675885000,2020-03-31,20:31:25,Arabic Standard Time,1070141555351027713,remotepeople,Remote Jobs,NaN,...,NaN,NaN,NaN,NaN,NaN,"[{'user_id': '1070141555351027713', 'username'...",NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8740,1247787062616457217,1247787062616457217,1586330593000,2020-04-08,10:23:13,Arabic Standard Time,2570132744,drupalrx,Drupal RX,NaN,...,NaN,NaN,NaN,NaN,NaN,"[{'user_id': '2570132744', 'username': 'Drupal...",NaN,NaN,NaN,NaN
8741,1247785576553525248,1247785576553525248,1586330238000,2020-04-08,10:17:18,Arabic Standard Time,1155594269819842560,adr_04,04ADR,NaN,...,NaN,NaN,NaN,NaN,NaN,"[{'user_id': '1155594269819842560', 'username'...",NaN,NaN,NaN,NaN
8742,1247785185560555521,1247785185560555521,1586330145000,2020-04-08,10:15:45,Arabic Standard Time,133196266,pak_grgrn,gpaul,NaN,...,NaN,NaN,NaN,NaN,NaN,"[{'user_id': '133196266', 'username': 'pak_grg...",NaN,NaN,NaN,NaN
8744,1247779388403286016,1247779388403286016,1586328763000,2020-04-08,09:52:43,Arabic Standard Time,961186830266793989,karry6021,Karry,NaN,...,NaN,NaN,NaN,NaN,NaN,"[{'user_id': '961186830266793989', 'username':...",NaN,NaN,NaN,NaN
7401,1247785576553525248,1247785576553525248,1586330238000,2020-04-08,10:17:18,Arabic Standard Time,1155594269819842560,adr_04,04ADR,NaN,...,NaN,NaN,NaN,NaN,NaN,"[{'user_id': '1155594269819842560', 'username'...",NaN,NaN,NaN,NaN

In [13]:
df

,id,conversation_id,created_at,date,time,timezone,user_id,username,name,place,tweet,mentions,urls,photos,replies_count,retweets_count,likes_count,hashtags,cashtags,link,retweet,quote_url,video,near,geo,source,user_rt_id,user_rt,retweet_id,reply_to,retweet_date,translate,trans_src,trans_dest
0,1245499506206048258,1245499506206048258,1585785197000,2020-04-02,02:53:17,Arabic Standard Time,999923155408896001,remote_dev_jobs,Remote Developer Jobs,NaN,Senior Web Architect (.NET / Javascript) at Ar...,[],['https://www.remote-developer-jobs.com/job/24...,[],0,0,0,[],[],https://twitter.com/remote_dev_jobs/status/124...,False,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,"[{'user_id': '999923155408896001', 'username':...",NaN,NaN,NaN,NaN
1,1245497179269033984,1245497179269033984,1585784642000,2020-04-02,02:44:02,Arabic Standard Time,1710780386,ttengineer1,TTEngineer1,NaN,Sounds like the DNC and Sleepy Joe are putting...,[],['https://www.breitbart.com/clips/2020/03/31/b...,[],0,0,0,[],[],https://twitter.com/TTEngineer1/status/1245497...,False,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,"[{'user_id': '1710780386', 'username': 'TTEngi...",NaN,NaN,NaN,NaN
2,1245495307011600384,1245429688996151296,1585784196000,2020-04-02,02:36:36,Arabic Standard Time,1197678150458712064,2020_oklahoma,üåπüçû quarantine band time üåàüíûüíû‚ò≠‚í∂üéºüëΩ,NaN,And honestly the books may feel like games bec...,"['briandecesare', 'katewillett']",[],[],0,0,0,[],[],https://twitter.com/2020_oklahoma/status/12454...,False,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,"[{'user_id': '1197678150458712064', 'username'...",NaN,NaN,NaN,NaN
3,1245494563478749184,1245494563478749184,1585784018000,2020-04-02,02:33:38,Arabic Standard Time,63972462,postjobfree,Post Job Free,NaN,Sr Python Developer with AWS Stack in Agoura H...,[],['https://postjobfree.com/job/iqh466'],[],0,0,0,[],[],https://twitter.com/postjobfree/status/1245494...,False,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,"[{'user_id': '63972462', 'username': 'postjobf...",NaN,NaN,NaN,NaN
4,1245493979992522756,1245493979992522756,1585783879000,2020-04-02,02:31:19,Arabic Standard Time,1070141555351027713,remotepeople,Remote Jobs,NaN,If you plan to work as a Full Stack Developer ...,[],['https://remotepeople.io/jobs/detail/F83sa8sQ...,[],0,0,0,"['#node', '#mongodb', '#angularjs', '#html', '...",[],https://twitter.com/remotepeople/status/124549...,False,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,"[{'user_id': '1070141555351027713', 'username'...",NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9982,1246228416300490755,1246224852706615297,1585958982000,2020-04-04,03:09:42,Arabic Standard Time,1112429970113077248,blacktechguru,Quarantine & Chill,NaN,I am. I'm a network engineer with a knack for ...,['infosecsherpa'],[],[],1,1,1,[],[],https://twitter.com/blacktechguru/status/12462...,False,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,"[{'user_id': '1112429970113077248', 'username'...",NaN,NaN,NaN,NaN
9983,1246227710466297856,1246222234248757248,1585958814000,2020-04-04,03:06:54,Arabic Standard Time,4876542393,volengineer11,Behind Enemy Hedges,NaN,I work remote anyways,"['itskluever', 'snoop_court', 'christie0106']",[],[],1,0,1,[],[],https://twitter.com/VolEngineer11/status/12462...,False,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,"[{'user_id': '4876542393', 'username': 'VolEng...",NaN,NaN,NaN,NaN
9984,1246227676035256321,1246227676035256321,1585958806000,2020-04-04,03:06:46,Arabic Standard Time,137443151,jobhookup4u,Kirsten Barr,NaN,Direct Hire/downtown Seattle - Security/manage...,[],[],[],0,1,0,"['#bigdata', '#pythondeveloper', '#seattlejobs...",[],https://twitter.com/JobHookup4U/status/1246227...,False,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,"[{'user_id': '137443151', 'username': 'JobHook...",NaN,NaN,NaN,NaN
9985,1246226734317555715,1246226734317555715,1585958581000,2020-04-04,03:03:01,Arabic Standard Time,2352444481,golangprojects,golangprojects,NaN,.@xteam is hiring: Senior #Go Developer #Remot...,['xteam'],['https://www.golangprojects.com/golang-go-job...,[],0,4,6,"['#go', '#remotework', '#remote', '#golang', '...",[],https://twitter.com/golangprojects/status/1246...,False,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,"[{'user_id': '2352444481', 'username': 'golang...",NaN,NaN,NaN,NaN
9986,1246225978793381888,1246225978793381888,1585958401000,2020-04-04,03:00:01,Arabic Standard Time,14252897,martinwoodward,Martin Woodward,NaN,Hey folks. Wanna come join me on the DevRel te...,"['github', 'greenh']",['https://grnh.se/7fcc9c711us'],[],15,121,211,[],[],https://twitter.com/martinwoodward/status/1246...,False,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,"[{'user_id': '14252897', 'username': 'martinwo...",NaN,NaN,NaN,NaN

In [12]:
pd.set_option('display.max_columns', 34)

In [14]:
df.columns

Index(['id', 'conversation_id', 'created_at', 'date', 'time', 'timezone',
       'user_id', 'username', 'name', 'place', 'tweet', 'mentions', 'urls',
       'photos', 'replies_count', 'retweets_count', 'likes_count', 'hashtags',
       'cashtags', 'link', 'retweet', 'quote_url', 'video', 'near', 'geo',
       'source', 'user_rt_id', 'user_rt', 'retweet_id', 'reply_to',
       'retweet_date', 'translate', 'trans_src', 'trans_dest'],
      dtype='object')

In [19]:
df.drop('id', 'conversation_id', 'created_at')

ValueError: Cannot specify both 'labels' and 'index'/'columns'